;;; public entries -*- mode: plstore -*- 
(("%28%22437e8c9ab6b11de9d298569fcb54570982215d88b36512facbc8846b0c3317c1%40group.calendar.google.com%22%0A%20org-gcal%29%0A"
  :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22aayushbajaj7%40gmail.com%22%20org-gcal%29%0A"
  :secret-access-token t :secret-refresh-token t :secret-expiration t))
;;; secret entries
"-----BEGIN PGP MESSAGE-----

hF4D1At6hiP4fecSAQdAW4LBi5wFhzG1VDtzjC2IzFuk/3mcCBF4v6C4v0GOUGUw
hvvPBLRFfUCkZ4AK+VJSbN9kyzQz1v1VtALoVbLwGPsyC1OU3+PU5GlGU5PL+e8n
1OkBCQIQrmffmpC+00yazrx7uvmmeyO2lhMMYFLT201DPR/macz5HfAcHj6AptOu
TKn5l1wkB7aJXU/tkd+PxhyFBxkQ5AsoJD10hnvAFtJu+MubUhxqqKyHKHFILMFN
jVGHZElj1/fpSLl/c91rs4yQ7jiEp4aW8tL3CV6eIEqjRCuiiIKI3pc2KBq2Fzhq
hBGvtbJND2jCuKLj/f+q/ehiIR/ItZb17QJQus9xxmJqga7Y8zxYqRRZfGFus4Bl
PLSIbutpuZ0Z2Eaaur6HZ5WbtAg8aXuSITVwHQnmO/4tDWJv59DQmstudDBhyUYe
PudpUGphCewNn28dP65VD+BFH8HA/xCnAjsYrNvS55E/d2L2CHhDzRky+2aUqkp3
OF1reSXhWDbzBhiqxUxAL8s3Ghga0GgOlL2VPEOjKf7KRZ52yRvpo/sn4QThRPxw
p8gJfCGLg0wFQFwJApA6SnHlIvKfAivQkcCfemxGGmil4zK1csQeC7Vr70PKWGZ+
GNwz2IC7BY7rQpAyv/bPoDtXk+uVDcB3fpH3nNRfUIE/FXuXXNYlsIFjIFtyVQyf
iUQLaBVJtg2nZhP83cbY5w7VLmwevGuPkyiZws+lXHhVkVJsk4Y7FkXvy4YMGr0s
L5UIBPPryNxkRFAQd8EHD1qHVvmAzWATCRMi0+snI+dYzRd04d1ZWC1GX5mEBP4h
WicAyA8tsj0thw==
=bhgU
-----END PGP MESSAGE-----
"
