;;; public entries -*- mode: plstore -*- 
(("%28%22437e8c9ab6b11de9d298569fcb54570982215d88b36512facbc8846b0c3317c1%40group.calendar.google.com%22%0A%20org-gcal%29%0A"
  :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22aayushbajaj7%40gmail.com%22%20org-gcal%29%0A"
  :secret-access-token t :secret-refresh-token t :secret-expiration t))
;;; secret entries
"-----BEGIN PGP MESSAGE-----

hF4D1At6hiP4fecSAQdAyAJg9woWDMPN2l5SvAuyF70lBSYLzGnZXeb48PC6dDow
zItH+2y00foifbO5EQgm7QXZ27CRngxkBe1cbOvnnbVXvcDrnVeWIoVVWP1xq1a4
1OkBCQIQmZS0/nz2MGoCjzMpB6O5rVc2SKLbAdVya8pRFO11I7HEtvy8R0oDYQqU
KQv7juTWcFfeOcjOYaaVrEsDvXv1X/MpW/LVi/rdIIt4jahQh7FFlxe4W26a/tIx
bMbFUdQmKgAE+mFxZ5nXT/+xg/qQT5nO2wTBgfBv78FQkZ8B20ktzbIzp3pW1pls
C7uiqGaI3x2ZU1loTxA13APMjGwiXrw4wrCEbApQEUCkrEreFtWwlaOoG89pM49J
UTKfqEwYPy7AZ346yp9cdTuUqb5Sc9ZVchfm6OndI8zFI5aMbmV+pUd6bcPb9y/r
8/5rXCFHP7RWcRgalIUIIWmN51bFI+odvSEyGbXPcU4EhHYrKFdpE2y2HlDaiGhS
W7cWSikN5zqkKFOYFlbJX2zxpDMStKsxHFrs5VQF80TKSpBEPp7WuVmJo7lDr3ix
nsW2FPYO+SFJbBDW1OxmBniAJv/6Lswg06Daj9O5p+5puR1ckOPNHd94lDv4fFAf
y968xWOekROw68h0AbevnpMuhu9ekB82gAf8QBANyyEgawA6PTcrEcrrcgfcYy9Y
IDN/vSxJx0nw+sHcwXyfnUHiQUjkggLVTH1UbrM4vQajaWnQiPWUAt9OnMJdMp5N
r8E5B5t2ut3DCnLIY2/uH1ZGb8nLIy4q5ptixTZmqzVZAhH/H/oNAmt+g/5sj/ot
yqTqOg==
=zFS0
-----END PGP MESSAGE-----
"
