;;; public entries -*- mode: plstore -*- 
(("%28%22437e8c9ab6b11de9d298569fcb54570982215d88b36512facbc8846b0c3317c1%40group.calendar.google.com%22%0A%20org-gcal%29%0A"
  :secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22aayushbajaj7%40gmail.com%22%20org-gcal%29%0A"
  :secret-access-token t :secret-refresh-token t :secret-expiration t))
;;; secret entries
"-----BEGIN PGP MESSAGE-----

hF4D1At6hiP4fecSAQdAIloxZ5REqv/dpVSVdZwP5syFpjjlnTgo+St9qB14YXQw
7OxTgloO/D4Ar9RUwHdHyv8FaxQw3Bp/d69XGt5M9QMcgHubyQBLuxEpDGm9ndQ9
1OkBCQIQ3Qa0hd40aDCYOaOt7vWtpGsJHuNHU332WSFGf4u9knsNCeom0TRjN4/q
7fl9Ae1eTMfkjkQ1vNf+eLqoPfA3hsbJ1GSRY8WEPxP4B7vINYeit6FUmOs9qNz7
n7cgD/euCjEn+6+wSmxACgTXXFRlooQnKIREWrG1QAReesnxJVDebgOFzA45RpfT
2zhwFB2IFdQbQ5pVV+6IBCQqtxy5SX199W0ISNOU7SibUa2W7S9i5yCVeX6hsakh
+eB1KVh7lMqxXgslHisNzsKTec14MfQXOWaI344b29X3u+Ftmj4gsf1riKlhrlfu
0NqwlrjVoi6AQNpbThR6gRGbCxUYJ1D4SKL/V4M9u5vrm2owlLeElBmLXs9pm81Z
25UMSFq+ORtmQbib86WKppMMivKlhMitiMFb2HS3SJdVgHwKUo8FW0xVqXhVooO0
sch7ON/m7XrKAtOP7u+wogsaSz/qRDxnEgw4ZTFGjljscyyY9ehDCH8ynJ31HkuS
wFaOqwL44FOlX5JACOXN4ffyfr1xf1DJ6wivpJuUhFPfXTggL1HD42cMReGLJ3F1
uLGlTptOH07NEML1g58xLpqFaufrWg4zGPPWXTtFBuzPhVqbrKQ7uEOPmdd4PD0Y
ghTsudfkaxAYXQr+W3Ge1AuWtcQ+YGHfLWhs7mq8dQZpqRYqBAyIBYcgedXRmcaj
Ot3YPA5ZJWNR
=KcVx
-----END PGP MESSAGE-----
"
